<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>Sharing Nearby Spots</title>
  <!-- 引入样式 -->
  <link rel="icon" href="./../imgs/favicon.ico">
  <link rel="stylesheet" href="./css/element.css">
  <link href="./css/index.css" rel="stylesheet">
  <link href="./css/shop-detail.css" rel="stylesheet">
  <link href="./css/main.css" rel="stylesheet">
  <style type="text/css">

  </style>
</head>
<body>
<div id="app">
  <div class="header">
    <div class="header-back-btn" @click="goBack"><i class="el-icon-arrow-left"></i></div>
    <div class="header-title"></div>
<!--    <div class="header-share">...</div>-->
  </div>
  <div class="top-bar"></div>
  <div class="shop-info-box">
    <div class="shop-title">{{shop.name}}</div>
    <div class="shop-rate">
      <el-rate
          disabled v-model="shop.score/10"
          text-color="#69988b"
          show-score
      ></el-rate>
<!--      <span>{{shop.comments}} comments</span>-->
    </div>
    <div class="shop-rate-info"> Environment: 4.8  Service: 4.7 </div>
    <div class="shop-rank">
      <img src="/imgs/bd.png" width="63" height="20" alt="">
      <span>No. 3 in Singapore's praise list</span>
<!--      <div><i class="el-icon-arrow-right"></i></div>-->
    </div>
    <div class="shop-images">
      <div v-for="(s,i) in shop.images" :key="i">
        <img :src="s" alt="">
      </div>
    </div>
    <div class="shop-address">
      <div><i class="el-icon-map-location"></i></div>
      <span>{{shop.address}}</span>
      <div style="width: 10px; flex-grow: 2; text-align: center; color: #e1e2e3">|</div>
<!--      <div style="margin: 0 5px"><img src="https://p0.meituan.net/travelcube/bf684aa196c870810655e45b1e52ce843484.png@24w_16h_40q" alt=""></div>-->
<!--      <div><img src="https://p0.meituan.net/travelcube/9277ace32123e0c9f59dedf4407892221566.png@24w_24h_40q" alt=""></div>-->
    </div>
  </div>
  <div class="shop-divider"></div>
  <div class="shop-open-time">
    <span><i class="el-icon-watch"></i></span>
    <div>Service time</div>
    <div>{{shop.openHours}}</div>
<!--    <span class="line-right">Check details -->
<!--      <i class="el-icon-arrow-right"></i>-->

  </div>
  <div class="shop-divider"></div>

  <div class="shop-voucher">
    <div>
      <span class="voucher-icon">Coupons</span>
      <span style="font-weight: bold;">Vouchers</span>
    </div>
    <div class="voucher-box" v-for="v in vouchers" :key="v.id" v-if="!isEnd(v)">
      <div class="voucher-circle">
        <div class="voucher-b"></div>
        <div class="voucher-b"></div>
        <div class="voucher-b"></div>
      </div>
      <div class="voucher-left">
        <div class="voucher-title">{{v.title}}</div>
        <div class="voucher-subtitle">{{v.subTitle}}</div>
        <div class="voucher-price"><div>$ {{util.formatPrice(v.payValue)}}</div>
          <span>{{(v.payValue*10)/v.actualValue}}折</span>
        </div>
      </div>
      <div class="voucher-right">
        <div v-if="v.type" class="seckill-box">
          <div class="voucher-btn" :class="{'disable-btn': isNotBegin(v) || v.stock < 1}" @click="seckill(v)">Flash sale</div>
          <div class="seckill-stock">Remaining <span>{{v.stock}}</span> pieces</div>
          <div class="seckill-time">{{formatTime(v)}}</div>
        </div>
        <div class="voucher-btn" v-else>Flash sale</div>
      </div>
    </div>
  </div>

<!--  不写死方式，当时需要调整所有的vue转换为vue文件形式-->
  <div class="shop-divider"></div>
  <div class="shop-comments">
    <div class="comments-head"></div>
    <div class="comment-tags">
      <div class="tag">head in cloud(1)</div>
<!--      <div class="tag">Nice(1)</div>-->
<!--      <div class="tag">Repeat customer(1)</div>-->
<!--      <div class="tag">Easy parking(1)</div>-->
<!--      <div class="tag">Suitable for family(1)</div>-->
<!--      <div class="tag">Suitable for dating(1)</div>-->
    </div>
    <div class="comment-list">
      <div class="comments-head">
        Other blog for same spots</div>
      <div>

      </div>
      <div class="comment-box" v-for="b in blogs" :key="b.id" @click="toDetail(b)">
        <div class="comment-icon"><img :src="b.icon" alt=""></div>

        <div class="comment-info">
        <div class="comment-user">{{b.nickName}}</div>
        <div class="comment-info">
            <div style="display: flex;">Scores<el-rate disabled v-model="shop.score/10" ></el-rate></div>
            <div style="padding: 5px 0; font-size: 14px">{{b.content}}</div>
            <div class="comment-images"><img :src="b.images" alt=""></div>
        </div>
      </div>
    <div style="display: flex; justify-content: space-between;padding: 15px 0; border-top: 1px solid #f1f1f1; margin-top: 10px;"><div>
    </div>
  </div>
    </div>
  </div>



<!--    写死方式-->
<!--  <div class="shop-divider"></div>-->
<!--  <div class="shop-comments">-->
<!--    <div class="comments-head">-->
<!--      &lt;!&ndash;      <div>Comments <span>（3）</span></div>&ndash;&gt;-->
<!--      &lt;!&ndash;      <div><i class="el-icon-arrow-right"></i></div>&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="comment-tags">-->
<!--      <div class="tag">Adequate exhibits(1)</div>-->
<!--      <div class="tag">Quiet environment(1)</div>-->
<!--      <div class="tag">Repeat customer(1)</div>-->
<!--      <div class="tag">Easy parking(1)</div>-->
<!--      <div class="tag">Suitable for family(1)</div>-->
<!--      <div class="tag">Suitable for dating(1)</div>-->
<!--      &lt;!&ndash;      <div class="tag">回头客(4)</div>&ndash;&gt;-->
<!--      &lt;!&ndash;      <div class="tag">分量足(4)</div>&ndash;&gt;-->
<!--      &lt;!&ndash;      <div class="tag">停车方便(3)</div>&ndash;&gt;-->
<!--      &lt;!&ndash;      <div class="tag">海鲜棒(3)</div>&ndash;&gt;-->
<!--      &lt;!&ndash;      <div class="tag">饮品赞(3)</div>&ndash;&gt;-->
<!--      &lt;!&ndash;      <div class="tag">朋友聚餐(6)</div>&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="comment-list">-->
<!--      <div class="comment-box" v-for="i in 3" :key="i">-->
<!--        <div class="comment-icon">-->
<!--          <img src="https://p0.meituan.net/userheadpicbackend/57e44d6eba01aad0d8d711788f30a126549507.jpg%4048w_48h_1e_1c_1l%7Cwatermark%3D0" alt="">-->
<!--        </div>-->
<!--        <div class="comment-info">-->
<!--          <div class="comment-user">Anna </div>-->
<!--          <div style="display: flex;">Scores<el-rate disabled v-model="4.5" ></el-rate>-->
<!--          </div>-->
<!--          <div style="padding: 5px 0; font-size: 14px">-->
<!--            Just so so.-->
<!--          </div>-->
<!--          <div class="comment-images">-->
<!--            <img src="https://qcloud.dpfile.com/pc/6T7MfXzx7USPIkSy7jzm40qZSmlHUF2jd-FZUL6WpjE9byagjLlrseWxnl1LcbuSGybIjx5eX6WNgCPvcASYAw.jpg" alt="">-->
<!--            <img src="https://qcloud.dpfile.com/pc/sZ5q-zgglv4VXEWU71xCFjnLM_jUHq-ylq0GKivtrz3JksWQ1f7oBWZsxm1DWgcaGybIjx5eX6WNgCPvcASYAw.jpg" alt="">-->
<!--            <img src="https://qcloud.dpfile.com/pc/xZy6W4NwuRFchlOi43DVLPFsx7KWWvPqifE1JTe_jreqdsBYA9CFkeSm2ZlF0OVmGybIjx5eX6WNgCPvcASYAw.jpg" alt="">-->
<!--            <img src="https://qcloud.dpfile.com/pc/xZy6W4NwuRFchlOi43DVLPFsx7KWWvPqifE1JTe_jreqdsBYA9CFkeSm2ZlF0OVmGybIjx5eX6WNgCPvcASYAw.jpg" alt="">-->
<!--          </div>-->
<!--          &lt;!&ndash;          <div>&ndash;&gt;-->
<!--          &lt;!&ndash;            Browser 20 &nbsp;&nbsp;&nbsp;&nbsp;Comments 3&ndash;&gt;-->
<!--          &lt;!&ndash;          </div>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--      <div style="display: flex; justify-content: space-between;padding: 15px 0; border-top: 1px solid #f1f1f1; margin-top: 10px;">-->
<!--        &lt;!&ndash;        <div>View all 3 pieces of comments</div>&ndash;&gt;-->
<!--        <div>-->
<!--          &lt;!&ndash;          <i class="el-icon-arrow-right"></i>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->





  <div class="shop-divider"></div>
  <div class="copyright">
    copyright ©2023 sharing-nearby-spots.com
  </div>
  </div>
</div>
  <script src="./js/vue.js"></script>
  <script src="./js/axios.min.js"></script>
<!--<script src="./js/app.0f29d0c5.js"></script>-->
  <script src="./js/chunk-vendors.f7687839.js"></script>
  <!-- 引入组件库 -->
  <script src="./js/element.js"></script>
  <script src="./js/common.js"></script>
  <script src="./js/footer.js"></script>
<script>

  const app = new Vue({
    el: "#app",
    data: {
      util,
      shop: [],
      blogs: [] ,
      vouchers: [],
      users:[],


    },
    created() {
      // 获取参数
      let shopId = util.getUrlParam("id");
      // 查询酒店信息
      this.queryShopById(shopId);
      // 查询优惠券信息
      this.queryVoucher(shopId);
      // 查询评论信息
      this.queryBlogByShopId(shopId);


    },
    methods: {
      goBack() {
        history.back();
      },
      queryShopById(shopId) {
        axios.get("/shop/" + shopId)
                .then(({data}) => {
                data.images = data.images.split(",");
                  this.shop = data;
        })
        .catch(this.$message.error)
      },
      queryBlogByShopId(shopId) {
        axios.get("/blog/of/shop/" + shopId)
                .then(({data}) => {
                  // data.images = data.images.split(",");
                  this.blogs = data;
                })
                .catch(this.$message.error)
      },
      queryVoucher(shopId) {
        axios.get("/voucher/list/" + shopId)
        .then(({data}) => {
          this.vouchers = data;
        })
        .catch(this.$message.error)
      },

      toDetail(b) {
        location.href = "/blog-detail.html?id=" + b.id
      },
      formatTime(v){
        let b = new Date(v.beginTime);
        let e = new Date(v.endTime);
        return b.getFullYear()+ "." +b.getMonth() + 1 + "." + b.getDate() + "  "
          +  b.getHours() + ":" + this.formatMinutes(b.getMinutes())
          + " ~ "/*  + e.getMonth() + 1 + "月" + e.getDate() + "日 " */
          +  e.getFullYear()+ "." +e.getMonth() + 1 + "." + e.getDate() + "  "
                +  e.getHours() + ":" + this.formatMinutes(e.getMinutes());
      },
      formatMinutes(m){
        if(m < 10) m = "0" + m
        return m;
      },
      isNotBegin(v){
        return new Date(v.beginTime).getTime() > new Date().getTime();
      },
      isEnd(v){
        return new Date(v.endTime).getTime() < new Date().getTime();
      },
      seckill(v){
        if(!token){
          this.$message.error("Please login first.")
          // 未登录，跳转
          setTimeout(() => {
            location.href = "/login.html"
          }, 200);
          return;
        }
        if(this.isNotBegin(v)){
          this.$message.error("The coupon rush has not started yet!")
          return;
        }
        if(this.isEnd(v)){
          this.$message.error("The coupon rush is over!")
          return;
        }
        if(v.stock < 1){
          this.$message.error("Insufficient inventory, please refresh and try again!")
          return;
        }
        let id = v.id;
        // 秒杀抢购
        axios.post("/voucher-order/seckill/" + id)
        .then(({data}) => {
          // 抢购成功，这里输出订单id，支付功能TODO
          this.$message.success("The snap-up is successful, the order id: " + data)
        })
        .catch(this.$message.error)
      }
    }
  })
</script>
</body>
</html>